footer {
    background: #222;
    padding: 50px 0;
    color: white;
    text-align: center;

    .foot {
        display: flex;
        justify-content: space-around;
        align-items: start;
        flex-wrap: wrap; 
        padding: 0 20px;
    }

    .footer-column {
        text-align: left;
        min-width: 200px;

        h3 {
            font-size: 20px;
            margin-bottom: 15px;
            color: #fff;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 10px;
            }

            a {
                text-decoration: none;
                color: #ccc;
                transition: 0.3s;

                &:hover {
                    color: white;
                }
            }
        }
    }
}
